:root {
  --black: #0d0d0d;
  --blue: #00d4ff;
  --violet: #8a2be2;
  --pink: #ff007f;
  --yellow: #ffd700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--blue);
  background-color: var(--black);
  overflow-x: hidden;
  background: #0d0d0d;
  z-index: 1;
 
}

.container {
  min-height: 80vh;
  margin: 30px 50px;
}
h1 {
  text-align: center;
  margin: 10px 0px;
  color: var(--pink);
  text-shadow: 0 0 10px rgba(201, 10, 207, 0.582),
    0 0 20px rgba(248, 248, 248, 0.726);
}
h2 {
  color: var(--yellow);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.616),
    0 0 20px rgba(248, 248, 248, 0.726);
}

.btn {
  position: relative;
  text-decoration: none;
  width: fit-content;
  min-width: 100px;
  padding: 10px 15px;
  border-radius: 9px;
  background: var(--blue);
  color: var(--pink);
  font-size: 1.25em;
  cursor: pointer;
  transition: 0.4s;
  
}

.btn:hover{
    box-shadow: 7px 5px 56px -14px var(--blue);
}
.btn:active{
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px var(--blue);
}


.btn-success{
    color: var(--pink);
    background: var(--yellow);
}
.btn-success:hover{
    box-shadow: 7px 5px 56px -14px var(--yellow);
}
.btn-success:active{
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px var(--yellow);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 11px;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.541), 0 0 12px var(--blue);
}

.home-ul {
  margin: 20px;
  list-style: none;
}
.home-ul li {
  margin: 1rem 0px;
}
.home-ul li i {
  color: var(--yellow);
  margin: 0px 1rem;
}

.home-form {
  margin: 20px;
  border: 2px white solid;
  border-radius: 11px;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.541), 0 0 12px var(--yellow);
}
.home-form h2 {
  text-align: center;
  margin: 15px auto;
}
.home-form-container {
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
  color: var(--pink);
}

.home-user-play {
  
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  z-index: 1;
}

.home-quiz-setting {
 
  margin: 10px 20px 20px 30px;
  display: flex;
  flex-direction: column;
  border: 1.2px solid rgba(160, 160, 160, 0.411);
  border-radius: 5px;
  padding: 20px;
}

/* input container special Text */
.input-container {
  margin: 20px 0px;
  position: relative;
  z-index: 1;
}
.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  color: #ff008075;
  pointer-events: none;
}
.input-container input , .input-container textarea{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ff008075;
  outline: none;
    width: 100%;
  color: var(--yellow);
}

.input-container textarea{
    field-sizing: content;
  }

.input-container .underline {
  width: 100%;
  height: 2px;
  background-color: var(--pink);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: all 0.3s ease;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.541), 0 0 12px var(--pink);
}
.input-container textarea:focus ~ .label,
.input-container textarea:not(:placeholder-shown)  ~ .label,
.input-container input[type="text"]:focus ~ .label ,
.input-container input[type="text"]:not(:placeholder-shown) ~ .label {
  top: -20px;
  font-size: 16px;
  color: var(--pink);
}
.input-container textarea:focus ~ .underline,
.input-container textarea:not(:placeholder-shown)  ~ .underline,
.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:not(:placeholder-shown) ~ .underline {
  border-color: var(--pink);
  transform: scaleX(1);
}
/* fin input text */

legend{
    font-size: large;
    text-align: center;
    margin-bottom: 20px;
}
legend i {
    margin-right: 1rem;
}
.select-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0px;
}
.group-form-container{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 20px;
}

select{
    border: 1px solid rgba(255, 255, 255, 0.267);
    width: fit-content;
    border-radius: 4px;
    margin: 10px 0px;
    padding: 5px 10px;
    outline: none;
    background: var(--black);
    color: var(--yellow);
    align-self: center;
}
option{
    background:var(--black);
}
option:hover, option:hover.selection{
    background: var(--pink);
}

/* question form */

.questions-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px  auto;
    border: 2px solid var(--blue);
    border-radius: 5px;
    min-width: 265px;
    padding: 30px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.541), 0 0 12px var(--blue);
}
.questions-form .input-container{
    display: flex;
    flex-direction: column;

}
.questions-form .input-container .label{
    color: var(--blue);
}
.questions-form .input-container input , .questions-form .input-container textarea {
    
    border-bottom: 2px solid #00eeff56;
    
  }
.questions-form .input-container .underline {
    background-color: var(--blue);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.541), 0 0 12px var(--blue);
  }
  .questions-form .input-container textarea:focus ~ .label,
  .questions-form .input-container textarea:not(:placeholder-shown)  ~ .label,
  .questions-form .input-container input[type="text"]:focus ~ .label,
  .questions-form .input-container input[type="text"]:not(:placeholder-shown) ~ .label {
    color: var(--blue);
  }
  .questions-form .input-container input[type="text"]:focus ~ .underline,
  .questions-form .input-container input[type="text"]:not(:placeholder-shown) ~ .underline,
  .input-container .question-form-wrong input[type="text"]:not(:placeholder-shown) ~ .underline
  {
    border-color: var(--blue);
  }

  .question-form-wrong{
    position: relative;
    margin-top: 15px;
  }

  .question-form-btn{
    margin: 20px auto;
  }

 
@media screen and (min-width: 610px){ 
    .group-form-container{
        justify-content: space-around;
    }
    
}



.btn, .input-container {
  position: relative; /* Éviter qu'ils ne passent au-dessus du menu */
  z-index: 1;
}